<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="./CSS/MDL.css">
    <link rel="stylesheet" href="./CSS/encuesta.css">
    <script src="../node_modules/j-i-c/src/JIC.js"></script>
    <title>Encuesta</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <span style="margin-right: 10px; cursor: pointer;" onclick="window.history.back()">
                <i class="material-icons">
                    chevron_left
                </i>
            </span>
            <span><h5 style="margin-top: 15px">Encuesta</h5></span>
        </header>
        <main>
            <div id="pagina-1">
                <div class="seccion seccion_principal">
                    <div class="titulo">Vende energizante</div>
                    <div class="contenido">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                            <input type="checkbox" id="switch-1" class="mdl-switch__input" onclick="vende(this)" checked>
                            <span class="mdl-switch__label" id="vende_lab">Si</span>
                        </label>
                    </div>
                </div>
                <div class="seccion seccion_secundaria">
                    <div class="titulo">Distribuidor de Red Bull</div>
                    <div class="contenido distribuye_contenido">
                        <select name="distribuye" id="distribuidor" onchange="distribuidor(this)">
                            <option value="D&amp;M">
                                D&amp;M
                            </option>
                            <option value="Promabol">
                                Promabol
                            </option>
            
                            <option value="Dhotar">
                                Dhotar
                            </option>
            
                            <option value="Delizia">
                                Delizia
                            </option>
            
                            <option value="Etix Distribuidora">
                                Etix Distribuidora
                            </option>
            
                            <option value="Distribuidora Flores">
                                Distribuidora Flores
                            </option>
            
                            <option value="otro">Otro</option>
                        </select>
                        <input type="text" placeholder="Nombre Distribuidor" onkeyup="distribuidor1(this)" id="nombre_distribuidor_nuevo"
                            style="display: none">
                    </div>
                </div>
                <div class="seccion seccion_secundaria">
                    <div class="titulo">Precio de venta(Bs.)</div>
                    <div class="contenido precio_contenido">
                        <div class="bebida">
                            <div class="nombre">Red Bull</div>
                            <div class="precios">
                                <span class="valor mdl-shadow--2dp" name="RED_BULL" onclick="asignar_precio(0,0,this)">No Vente</span>
                                <span class="valor mdl-shadow--2dp" name="RED_BULL" onclick="asignar_precio(0,15,this)">15</span>
                                <span class="valor mdl-shadow--2dp" name="RED_BULL" onclick="asignar_precio(0,16,this)">16</span>
                                <span class="valor mdl-shadow--2dp" name="RED_BULL" onclick="asignar_precio(0,-1,this)">Otro</span>
                            </div>
                            <div style="display: none; align-items: center"><input type="number" placeholder="Precio" onkeyup="asignar_precio1(0,this)"></div>
                        </div>
                        <div class="bebida">
                            <div class="nombre">Rush</div>
                            <div class="precios">
                                <span class="valor mdl-shadow--2dp" name="RUSH" onclick="asignar_precio(1,0,this)">No Vente</span>
                                <span class="valor mdl-shadow--2dp" name="RUSH" onclick="asignar_precio(1,10,this)">10</span>
                                <span class="valor mdl-shadow--2dp" name="RUSH" onclick="asignar_precio(1,12,this)">12</span>
                                <span class="valor mdl-shadow--2dp" name="RUSH" onclick="asignar_precio(1,-1,this)">Otro</span>
                            </div>
                            <div style="display: none; align-items: center"><input type="text" placeholder="Precio" onkeyup="asignar_precio1(1,this)"></div>
                        </div>
                        <div class="bebida">
                            <div class="nombre">Ciclon 500 ML</div>
                            <div class="precios">
                                <span class="valor mdl-shadow--2dp" name="CICLON_500_ML" onclick="asignar_precio(2,0,this)">No
                                    Vente</span>
                                <span class="valor mdl-shadow--2dp" name="CICLON_500_ML" onclick="asignar_precio(2,10,this)">10</span>
                                <span class="valor mdl-shadow--2dp" name="CICLON_500_ML" onclick="asignar_precio(2,12,this)">11</span>
                                <span class="valor mdl-shadow--2dp" name="CICLON_500_ML" onclick="asignar_precio(2,-1,this)">Otro</span>
                            </div>
                            <div style="display: none; align-items: center"><input type="number" placeholder="Precio" onkeyup="asignar_precio1(2,this)"></div>
                        </div>
                        <div class="bebida">
                            <div class="nombre">Black</div>
                            <div class="precios">
                                <span class="valor mdl-shadow--2dp" name="BLACK" onclick="asignar_precio(3,0,this)">No Vente</span>
                                <span class="valor mdl-shadow--2dp" name="BLACK" onclick="asignar_precio(3,7,this)">7</span>
                                <span class="valor mdl-shadow--2dp" name="BLACK" onclick="asignar_precio(3,8,this)">8</span>
                                <span class="valor mdl-shadow--2dp" name="BLACK" onclick="asignar_precio(3,-1,this)">Otro</span>
                            </div>
                            <div style="display: none; align-items: center"><input type="number" placeholder="Precio" onkeyup="asignar_precio1(3,this)"></div>
                        </div>
                        <div class="bebida">
                            <div class="nombre">Monster</div>
                            <div class="precios">
                                <span class="valor mdl-shadow--2dp" name="MONSTER" onclick="asignar_precio(4,0,this)">No Vente</span>
                                <span class="valor mdl-shadow--2dp" name="MONSTER" onclick="asignar_precio(4,16,this)">16</span>
                                <span class="valor mdl-shadow--2dp" name="MONSTER" onclick="asignar_precio(4,18,this)">18</span>
                                <span class="valor mdl-shadow--2dp" name="MONSTER" onclick="asignar_precio(4,-1,this)">Otro</span>
                            </div>
                            <div style="display: none; align-items: center"><input type="number" placeholder="Precio" onkeyup="asignar_precio1(4,this)"></div>
                        </div>
                    </div>
                </div>
                <div class="seccion seccion_secundaria">
                    <div class="titulo">Producto Frio</div>
                    <div class="contenido">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                            <input type="checkbox" id="switch-2" class="mdl-switch__input" onclick="frio(this)" checked>
                            <span class="mdl-switch__label" id="frio_lab">Si</span>
                        </label>
                    </div>
                </div>
                <div class="seccion seccion_secundaria">
                    <div class="titulo">Coolers</div>
                    <div class="contenido lista_cooler">
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-1">
                                <input type="checkbox" id="cooler-1" class="mdl-checkbox__input" onclick="asignarcooler(this,0)">
                                <span class="mdl-checkbox__label">Propio</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-2">
                                <input type="checkbox" id="cooler-2" class="mdl-checkbox__input" onclick="asignarcooler(this,1)">
                                <span class="mdl-checkbox__label">Baby Cooler</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-3">
                                <input type="checkbox" id="cooler-3" class="mdl-checkbox__input" onclick="asignarcooler(this,2)">
                                <span class="mdl-checkbox__label">Slim Cooler</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-4">
                                <input type="checkbox" id="cooler-4" class="mdl-checkbox__input" onclick="asignarcooler(this,3)">
                                <span class="mdl-checkbox__label">Can Cooler</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-5">
                                <input type="checkbox" id="cooler-5" class="mdl-checkbox__input" onclick="asignarcooler(this,4)">
                                <span class="mdl-checkbox__label">Equipo de la competencia</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-6">
                                <input type="checkbox" id="cooler-6" class="mdl-checkbox__input" onclick="asignarcooler(this,5)">
                                <span class="mdl-checkbox__label">Fast Lane Open</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-7">
                                <input type="checkbox" id="cooler-7" class="mdl-checkbox__input" onclick="asignarcooler(this,6)">
                                <span class="mdl-checkbox__label">Small Open Front</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-8">
                                <input type="checkbox" id="cooler-8" class="mdl-checkbox__input" onclick="asignarcooler(this,7)">
                                <span class="mdl-checkbox__label">Mega Glass Door</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-9">
                                <input type="checkbox" id="cooler-9" class="mdl-checkbox__input" onclick="asignarcooler(this,8)">
                                <span class="mdl-checkbox__label">Slim Fast Lane</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cooler-10">
                                <input type="checkbox" id="cooler-10" class="mdl-checkbox__input" onclick="asignarcooler(this,9)">
                                <span class="mdl-checkbox__label">Refuel Cooler</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="seccion seccion_secundaria">
                    <div class="titulo">Visibility</div>
                    <div class="contenido lista_visibility">
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-1">
                                <input type="checkbox" id="visibility-1" class="mdl-checkbox__input" onclick="asignarvisibility(this,0)">
                                <span class="mdl-checkbox__label">Colgante</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-2">
                                <input type="checkbox" id="visibility-2" class="mdl-checkbox__input" onclick="asignarvisibility(this,1)">
                                <span class="mdl-checkbox__label">Sticker de lata</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-3">
                                <input type="checkbox" id="visibility-3" class="mdl-checkbox__input" onclick="asignarvisibility(this,2)">
                                <span class="mdl-checkbox__label">Marca Precio</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-4">
                                <input type="checkbox" id="visibility-4" class="mdl-checkbox__input" onclick="asignarvisibility(this,3)">
                                <span class="mdl-checkbox__label">Cartoon</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-5">
                                <input type="checkbox" id="visibility-5" class="mdl-checkbox__input" onclick="asignarvisibility(this,4)">
                                <span class="mdl-checkbox__label">Lata Aluminio</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-6">
                                <input type="checkbox" id="visibility-6" class="mdl-checkbox__input" onclick="asignarvisibility(this,5)">
                                <span class="mdl-checkbox__label">Sticky shlef</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-7">
                                <input type="checkbox" id="visibility-7" class="mdl-checkbox__input" onclick="asignarvisibility(this,6)">
                                <span class="mdl-checkbox__label">Carrileras</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-8">
                                <input type="checkbox" id="visibility-8" class="mdl-checkbox__input" onclick="asignarvisibility(this,7)">
                                <span class="mdl-checkbox__label">Two Cans</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-9">
                                <input type="checkbox" id="visibility-9" class="mdl-checkbox__input" onclick="asignarvisibility(this,8)">
                                <span class="mdl-checkbox__label">Parasite SC</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-10">
                                <input type="checkbox" id="visibility-10" class="mdl-checkbox__input" onclick="asignarvisibility(this,9)">
                                <span class="mdl-checkbox__label">Parasite 4Pack</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-11">
                                <input type="checkbox" id="visibility-11" class="mdl-checkbox__input" onclick="asignarvisibility(this,10)">
                                <span class="mdl-checkbox__label">Dispensador Lata</span>
                            </label>
                        </span>
                        <span>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visibility-12">
                                <input type="checkbox" id="visibility-12" class="mdl-checkbox__input" onclick="asignarvisibility(this,11)">
                                <span class="mdl-checkbox__label">Rack</span>
                            </label>
                        </span>
                    </div>
                </div>
                <% if(cli.tipo == "Famacia" || cli.tipo == "Otro Impulso"){ %>
                <div class="seccion seccion_secundaria">
                    <div class="titulo"># de caras</div>
                    <div class="contenido">
                        <div>
                            <span style="width: 60px; display: inline-block">Red Bull</span>
                            <input type="number" onclick="">
                        </div>
                        <div style="margin-top: 10px;">
                            <span style="width: 60px; display: inline-block">Otras</span>
                            <input type="number" onclick="">
                        </div>                       
                    </div>
                </div>
                <% } %>
                <div class="seccion seccion_principal">
                    <div class="titulo">Comentario</div>
                    <div class="contenido">
                       <textarea style="width: 100%" name="comentario" id="comentario" cols="30" rows="2" onkeyup="escribircomentario(this)"></textarea>
                    </div>
                </div>
                <div id="botonera_encuesta" style="display: grid; padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="boton_encuesta" onclick="guardar_datos('<%= cli._id %>')" disabled>
                        Siguiente
                    </button>
                </div>
            </div>
            <div id="pagina-2" style="display: none" >
                <div class="foto">
                    <div id="uploadok" class="uploadok mdl-shadow--8dp">
                        <i class="material-icons" style="font-size: 90px;">
                            done
                        </i>
                    </div>
                    <div style="margin-bottom: 10px" id="contenedor_camara">
                        <input type="file" name="foto" accept="image/*" capture="camera" id="imagen">
                        <label for="imagen" id="lab_foto" class="mdl-shadow--8dp">
                            <i class="material-icons" style="font-size: 90px">
                                camera_alt
                            </i>
                        </label>
                    </div>
                    <div id="mensajes_foto">
                        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" style="display: none"></div>
                        <span>Tomar Foto</span>
                    </div>
                    <div id="botones_foto">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--red-900">
                            Sin Foto
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="display: none" onclick="subir_foto(this,'<%= cli._id %>')">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <script src="./JS/encuesta2.js"></script>
        <script src="./JS/encuesta.js"></script>
    </div>
</body>
</html>