<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="./CSS/lista.css">
  </head>
<body>
    <div class="buscador">
        <span class="icon_buscador">
            <i class="material-icons">
                search
            </i>
        </span>
        <input type="text" onkeyup="buscar(this.value)" placeholder="Buscar">
    </div>
    <div id="Lista_clientes">
        <ul class="mdl-list" id="lista_clientes">
            <% for(i=0;i <= cli.length-1;i++){ %>
                <li class="mdl-list__item lista_borde mdl-list__item--two-line" onclick="vercliente(this,'<%= cli[i]._id %>')">
                    <span class="mdl-list__item-primary-content">
                        <span><%= cli[i].nombre %></span>
                        <span class="mdl-list__item-sub-title"><%= cli[i].direccion %></span>
                    </span>
                </li>
            <% } %>
        </ul>
    
    </div>
    <div class="buscar_alrededor">
        <button class="mdl-color--red-900 mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="buscar_alrededor_fun()">
            <i class="material-icons">gps_off</i>
        </button>
    </div>
    <script src="./JS/lista.js"></script>
</body>
</html>