<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Login</title>
</head>
<body>
    <div id="main">
        <div class="tarjeta">
            <div class="cabeza"></div>
            <div class="cuerpo">
                <div class="inp">
                    <input type="text" placeholder="Usuario">
                    <input type="password" placeholder="Clave">
                </div>
                <div class="msg"></div>
                <div class="btns">
                    <button>LOGIN</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>