<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="CSS/MDL.css">
    <link rel="stylesheet" href="CSS/main.css">
    <title>Main</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer  mdl-layout--fixed-header">
        <header class="mdl-layout__header" style="background-color: #031e3c">
            <div class="mdl-layout-icon"></div>
            <div class="mdl-layout__header-row">
                <span class="mdl-layout__title">Red Bull</span>
                <div class="mdl-layout-spacer"></div>
                <span class="mainheadermenu">
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons" role="presentation">more_vert</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        <li class="mdl-menu__item" onclick="descargarexcel(1)">Descargar "Excel" Todo</li>
                        <li class="mdl-menu__item" onclick="descargarexcel(2)">Descargar "Excel" Region</li>
                        <li class="mdl-menu__item" onclick="descargarexcel(3)">Descargar "Excel" Mes</li>
                        <!--<li class="mdl-menu__item">Descargar Fotos</li>-->
                    </ul>
                </span>
            </div>
        </header>
        <div class="mdl-layout__drawer dra">
            <div class="foto_contenedor"></div>
            <span style="width: 100%; border: 1.5px solid lightgray; position: fixed; top: 12rem"></span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Inicio</a>
                <a class="mdl-navigation__link" onclick="cargar('/lista/region')">Clientes</a>
                <a class="mdl-navigation__link" onclick="cargar('/lista/reg_completa')">Clientes Region</a>
                <a class="mdl-navigation__link" onclick="cargar('/lista/completa')">Todos los Clientes</a>
                <a class="mdl-navigation__link" href="/registrar">Registrar Cliente</a>
                <a class="mdl-navigation__link" href="/mapaclu" target="_blank">Ver Mapa</a>
                <a class="mdl-navigation__link" href="" style="font-weight: bold; font-size: 17px">Salir</a>
              </nav>
        </div>
        <main class="mdl-layout__content" style="padding: 5px; overflow-y: auto">
            
        </main>
        <div class="espera">
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./JS/main.js"></script>
</body>
</html>