.mdl-switch__thumb{
    background: #b71c1c;
}
.mdl-switch__track{
    background: #b71c1c36
}
#pagina-2{
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.contenedor{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: grid;
    grid-template-rows: 60px auto;
}
select{
    border: none;
    border-bottom: 2px solid #3f51b5;
    font-size: 15px;
    padding: 2px;
    -webkit-appearance: none;
}
input:focus, select:focus, textarea:focus{
    outline: none;
}
input{
    border: none;
    border-bottom: 2px solid #3f51b5;
    font-size: 15px;
}
textarea{
    border: none;
    border-bottom: 2px solid #3f51b5;
    font-size: 15px;
}
header{
    background-color: #3f51b5;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    box-shadow: 0px 3px 8px #cccccc;
}
main{
    padding: 10px;
    overflow-y: auto;
    padding-top: 30px;
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
main .seccion{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
}
main .seccion .titulo{
    font-size: 21px;
    margin-bottom: 25px;
}
main .seccion .contenido{
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
main .seccion .precio_contenido{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 15px;
}
main .seccion .contenido .bebida{
    display: grid;
    grid-template-columns: 100px 100px 66px ;
}
main .seccion .contenido .bebida div input{
    width: 66px;
}
main .seccion .contenido .bebida .nombre{
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
main .seccion .contenido .bebida .valor{
    width: 90px;
    height: 40px;
    display: flex;
    background-color: #3f51b5;
    color: white;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}
main .distribuye_contenido{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
}
main .lista_cooler{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 15px;
}
main .lista_cooler > span{
    height: 50px;
}
main .lista_visibility{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 15px;
}
main .lista_visibility > span{
    height: 50px;
}
#imagen{
    display: none;
}
#lab_foto{
    width: 200px;
    height: 200px;
    background-color: #b71c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;
}
#botones_foto{
    display: flex;
    flex-direction: column;
}
#mensajes_foto{
    text-align: center;
    font-size: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}
#pagina-2 .uploadok{
    background-color: #9ccc65;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    display: none;
    margin: auto;
}
@media only screen and (min-width: 800px){
    main .seccion .precio_contenido{
        grid-template-columns: auto auto auto;
    }
}
