img{
    max-width: 100%;
    max-height: 100%;
}
#main_contenedor{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 25px;
}
#main_contenedor .contenedor_img{
    width: 350px;
    height: 350px;
    box-shadow: 0px 2px 8px #cccccc;
    display: grid;
    grid-template-rows: 300px 50px;
}
#main_contenedor .contenedor_img .imgen{
    display: grid;
    grid-template-columns: 25px 300px 25px;
}
#main_contenedor .contenedor_img .imgen .imagen_ver{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_contenedor .contenedor_img .imgen .giro{
    display: flex;
    align-items: center;
    cursor: pointer;
}
#main_contenedor .contenedor_img .info{
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
@media only screen and (max-width: 750px){
    #main_contenedor{
        grid-template-columns: auto;
        grid-column-gap: 0px;
    }
}